body{
  background-color: #D9DD6B
}
h1{
  color: #3DB2FF
}
img{
  background-color:#150050;
  border-radius: 100%;
}
p{
  color: #5D8233
}

hr{
  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: white;
  width: 5%;}
h2{
  color:
}
